@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><i>this</i></h1>
    <p>5 rules for identifying the value of the JavaScript <i>this</i> keyword.</p>
</div>

<h2>When inside a function, how was the function executed?</h2>

<div class="row">

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>As a function</h3>
<pre>
  
read();

</pre>
                <p>this === undefined</p>
                <a href="demo/asAFunction">Example</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>As a function in strict mode</h3>
<pre>
"strict mode";

read();
</pre>
                <p>this === window</p>
                <a href="demo/asAFunctionInStrictMode">Example</a>
            </div>
        </div>
    </div>



    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>As a method</h3>
<pre>

book.read();

</pre>
                <a href="demo/asAMethod">Example</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>As a constructor</h3>
<pre>

var book = new Book();

</pre>
                <a href="demo/asAConstructor">Example</a>
            </div>
        </div>
    </div>
</div>


<h2>When outside a function</h2>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Top-level JavaScript</h3>
<pre>

this === window //true

</pre>
                <a href="demo/topLevel">Example</a>
            </div>
        </div>
    </div>
</div>

<h2>Changing <i>this</i></h2>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>call</h3>
<pre>

read.call(thisArg, theHeroOfAges);

</pre>
                <a href="demo/call">Example</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>apply</h3>
<pre>
read.apply(thisArg, [
    mistBorn, 
    theWellOfAssension,
    theHeroOfAges
]);
</pre>
                <a href="demo/apply">Example</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>bind</h3>
<pre>

read.bind(thisArg);

</pre>
                <a href="demo/bind">Example</a>
            </div>
        </div>
    </div>
</div>
